<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container" style="margin-top: 30px">

    <div class="row clearfix" style="padding-bottom: 20px">
        <div class="col-md-12 column">
            <h3 class="text-center">
                真爱网全局信息检索系统
            </h3>
        </div>
    </div>
    <div class="row clearfix" style="padding-bottom: 10px">
        
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-3 column">
                </div>
                <div class="col-md-6 column">
                    <div class="input-group">
                        <input type="text" class="form-control " placeholder="请输入es查询条件"/>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-info btn-search glyphicon glyphicon-search"
                                    style="margin-top: -1px;"></button>
                   </span>
                    </div>
                </div>
                <div class="col-md-3 column">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix" style="padding-bottom: 10px">
    <div class="col-md-12 column">
        <p class="text-center text-success">
            为你找到相关结果 <strong>123</strong> 个，显示从第<strong>0</strong>到<strong>10</strong>个
        </p>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="row clearfix">
            <div class="col-md-1 column">
            </div>
            <div class="col-md-10 column">
                <table class="table">
                    <thead>
                    <tr>
                        <th>昵称</th>
                        <th>性别</th>
                        <th>身高</th>
                        <th>体重</th>
                        <th>工作地</th>
                        <th>收入</th>
                        <th>婚姻</th>
                        <th>户口</th>
                        <th>星座</th>
                        <th>房子</th>
                        <th>车子</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                        <tr class="success">
                            <td><a href="https://localhost:9090/tangbaobao">老猫</a></td>
                            
                                <td>男士 </td>
                                <td>56 </td>
                                <td>174 </td>
                                <td>90 </td>
                                <td>阿里日土 </td>
                                <td>2-5万 </td>
                                <td>离异 </td>
                                <td>北京 </td>
                                <td>天蝎座(10.23-11.21)</td>
                                <td>已购房 </td>
                                <td>已买车 </td>
                            
                        </tr>
                    
                        <tr class="success">
                            <td><a href="https://localhost:9090/tangbaobao">老猫</a></td>
                            
                                <td>男士 </td>
                                <td>56 </td>
                                <td>174 </td>
                                <td>90 </td>
                                <td>阿里日土 </td>
                                <td>2-5万 </td>
                                <td>离异 </td>
                                <td>北京 </td>
                                <td>天蝎座(10.23-11.21)</td>
                                <td>已购房 </td>
                                <td>已买车 </td>
                            
                        </tr>
                    
                        <tr class="success">
                            <td><a href="https://localhost:9090/tangbaobao">老猫</a></td>
                            
                                <td>男士 </td>
                                <td>56 </td>
                                <td>174 </td>
                                <td>90 </td>
                                <td>阿里日土 </td>
                                <td>2-5万 </td>
                                <td>离异 </td>
                                <td>北京 </td>
                                <td>天蝎座(10.23-11.21)</td>
                                <td>已购房 </td>
                                <td>已买车 </td>
                            
                        </tr>
                    
                        <tr class="success">
                            <td><a href="https://localhost:9090/tangbaobao">老猫</a></td>
                            
                                <td>男士 </td>
                                <td>56 </td>
                                <td>174 </td>
                                <td>90 </td>
                                <td>阿里日土 </td>
                                <td>2-5万 </td>
                                <td>离异 </td>
                                <td>北京 </td>
                                <td>天蝎座(10.23-11.21)</td>
                                <td>已购房 </td>
                                <td>已买车 </td>
                            
                        </tr>
                    
                        <tr class="success">
                            <td><a href="https://localhost:9090/tangbaobao">老猫</a></td>
                            
                                <td>男士 </td>
                                <td>56 </td>
                                <td>174 </td>
                                <td>90 </td>
                                <td>阿里日土 </td>
                                <td>2-5万 </td>
                                <td>离异 </td>
                                <td>北京 </td>
                                <td>天蝎座(10.23-11.21)</td>
                                <td>已购房 </td>
                                <td>已买车 </td>
                            
                        </tr>
                    
                        <tr class="success">
                            <td><a href="https://localhost:9090/tangbaobao">老猫</a></td>
                            
                                <td>男士 </td>
                                <td>56 </td>
                                <td>174 </td>
                                <td>90 </td>
                                <td>阿里日土 </td>
                                <td>2-5万 </td>
                                <td>离异 </td>
                                <td>北京 </td>
                                <td>天蝎座(10.23-11.21)</td>
                                <td>已购房 </td>
                                <td>已买车 </td>
                            
                        </tr>
                    
                        <tr class="success">
                            <td><a href="https://localhost:9090/tangbaobao">老猫</a></td>
                            
                                <td>男士 </td>
                                <td>56 </td>
                                <td>174 </td>
                                <td>90 </td>
                                <td>阿里日土 </td>
                                <td>2-5万 </td>
                                <td>离异 </td>
                                <td>北京 </td>
                                <td>天蝎座(10.23-11.21)</td>
                                <td>已购房 </td>
                                <td>已买车 </td>
                            
                        </tr>
                    
                        <tr class="success">
                            <td><a href="https://localhost:9090/tangbaobao">老猫</a></td>
                            
                                <td>男士 </td>
                                <td>56 </td>
                                <td>174 </td>
                                <td>90 </td>
                                <td>阿里日土 </td>
                                <td>2-5万 </td>
                                <td>离异 </td>
                                <td>北京 </td>
                                <td>天蝎座(10.23-11.21)</td>
                                <td>已购房 </td>
                                <td>已买车 </td>
                            
                        </tr>
                    
                        <tr class="success">
                            <td><a href="https://localhost:9090/tangbaobao">老猫</a></td>
                            
                                <td>男士 </td>
                                <td>56 </td>
                                <td>174 </td>
                                <td>90 </td>
                                <td>阿里日土 </td>
                                <td>2-5万 </td>
                                <td>离异 </td>
                                <td>北京 </td>
                                <td>天蝎座(10.23-11.21)</td>
                                <td>已购房 </td>
                                <td>已买车 </td>
                            
                        </tr>
                    
                        <tr class="success">
                            <td><a href="https://localhost:9090/tangbaobao">老猫</a></td>
                            
                                <td>男士 </td>
                                <td>56 </td>
                                <td>174 </td>
                                <td>90 </td>
                                <td>阿里日土 </td>
                                <td>2-5万 </td>
                                <td>离异 </td>
                                <td>北京 </td>
                                <td>天蝎座(10.23-11.21)</td>
                                <td>已购房 </td>
                                <td>已买车 </td>
                            
                        </tr>
                    
                    </tbody>
                </table>
            </div>
            <div class="col-md-1 column">
            </div>
        </div>
        <nav style="text-align: center">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </nav>
    </div>
</div>
</div>
</body>
</html>